@{
    ViewBag.Title = "Gamer Index7";
}
<h2>Gamer Index7</h2>
<b>Server side Time : @ViewBag.ServerTime</b><br />
<b>
    <script type="text/javascript">
            document.write("Client Side Time : " + Date());
    </script>
</b>