
@{
    ViewBag.Title = "Index3";
}

@section Menu
{
    @Html.ActionLink("Team Index", "Index") <br />
    @Html.ActionLink("Team Index2", "Index2") <br />
    @Html.ActionLink("Team Index2", "Index3")
}

@section ExtraInfo
{
    Extra Info<br />
}

<h2>Index3</h2>