@model OnlineGame.Web.Models.Gamer
@{
    ViewBag.Title = "Gamer Details";
}
<h2>Gamer Details</h2>
<table>
    <tr>
        <td>
            Gamer ID:
        </td>
        <td>
            @Model.Id
        </td>
    </tr>
    <tr>
        <td>
            Name:
        </td>
        <td>
            @Model.Name
        </td>
    </tr>
    <tr>
        <td>
            Gender:
        </td>
        <td>
            @Model.Gender
        </td>
    </tr>
    <tr>
        <td>
            City:
        </td>
        <td>
            @Model.City
        </td>
    </tr>
</table>